html, body {
  overflow-x: hidden;  /* Prevents horizontal scrolling */
  overscroll-behavior: none; /* Disables rubber-band scrolling */
}
#root
{
  background-color:#0C0C0C;
  height:100vh;
  width:100vw;
}